<div class="blocoFinal">
  <div class="container">
      <div class="row text-center final">
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref1.png" width="416" height="555" alt="" Loading="lazy">
        </div>
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref2.png" width="416" height="555" alt="" Loading="lazy">
        </div>
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref3.png" width="416" height="555" alt="" Loading="lazy">
        </div>
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref4.png" width="416" height="555" alt="" Loading="lazy">
        </div>
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref5.png" width="416" height="555" alt="" Loading="lazy">
        </div>
        <div class="col-12 col-sm-4">
          <img class="imgTerno" ngSrc="assets\img\padrinhos\ref6.png" width="416" height="555" alt="" Loading="lazy">
        </div>
  </div>
</div>
