<div class="madrinha">
  <div class="container">
    <div class="title">
      <div class="container">
          <div class="row">
              <div class="text-center text-madrinhas">
                <h1 class="mobile-text">Madrinhas</h1>
              </div>
          </div>
      </div>
    </div>

    <div class="agradecimento">
      <h5>Obrigado por aceitarem a missão de serem nosos padrinhos e compartilharem conosco do momento mais lindo das nossas vidas!</h5>
      <p class="comCarinho">com carinho, Andresa e Vinícius </p> <!-- TODO: colocar letra cursiva humanizada -->
    </div>

    <div>
      <p>Madrinha, eu quero você muitoo linda, feliz e radiante!</p>
      <p>Para isso, vou te ajudar na escolha da cor do vestido.</p>
    </div>

    <div class="coracao">
      <h3>Cores</h3>
      <div class="container">
        <div class="row text-center">
          <div class="col-4">
            <img class="imgCoracao" src="assets\img\home\coracao\coracao1.png" alt="">
          </div>
          <div class="col-4">
            <img class="imgCoracao" src="assets\img\home\coracao\coracao2.png" alt="">
          </div>
          <div class="col-4">
            <img class="imgCoracao" src="assets\img\home\coracao\coracao3.png" alt="">
          </div>
        </div>
      </div>

    </div>

    <div>
      <h3>Vestidos para se inspirar</h3>
      <div class="container">
        <div class="row text-center">
          <h5>QUERO TE VER LINDA E DESLUMBRANTE</h5>
          <div class="col-4">
            <img class="imgMenuHome imgMenu" src="assets\img\home\igreja.png" alt="">
          </div>
          <div class="col-4">
            <img class="imgMenuHome imgMenu" src="assets\img\home\igreja.png" alt="">
          </div>
          <div class="col-4">
            <img class="imgMenuHome imgMenu" src="assets\img\home\igreja.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

