<app-navbar></app-navbar>

<div class="madrinha">
    <div class="blocoInicial">

        <div class="title">
          <div class="container">
              <div class="row">
                  <div class="text-center text-madrinhas">
                    <h1 class="mobile-text">Madrinhas</h1>
                    <img class="florAzulMeio" src="assets\img\florMeioAzul.png" alt="">
                  </div>

                  <div class="agradecimento">
                    <h5>muito obrigada por aceitar a missão de ser a nossa madrinha e compartilhar conosco do momento mais lindo das nossas vidas!</h5>
                    <p class="comCarinho">com carinho, Andresa e Vinícius </p>
                  </div>

                  <!-- <img class="imgVestido text-center" src="assets\img\padrinhos_madrihas\ref1.jpg" alt=""> -->
              </div>
          </div>
        </div>
    </div>

    <div class="meioCores">
      <div class="container">
        <div>
          <h4 class="reservei text-center">reservei esse espaço para te ajudar na escolha das cores seu vestido.</h4>
          <h3 class="referenciaTexto text-center">abaixo está a referência da cor dos vestidos das madrinhas</h3>
        </div>


        <div class="coracao texto">
          <h2 class="text-center serenity">cor serenity</h2>
          <div class="container">
            <div class="row text-center">
              <div class="col-4">
                <img class="imgCoracao" src="assets\img\home\coracao\coracao2.png" alt="">
              </div>
              <div class="col-4">
                <img class="imgCoracao" src="assets\img\home\coracao\coracao1_old.png" alt="">
              </div>
              <div class="col-4">
                <img class="imgCoracao" src="assets\img\home\coracao\coracao1.png" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="blocoFinal">
      <div class="container">
          <div class="row text-center final">
              <h3 class="vestido">vestidos para se inspirar</h3>
              <h5 class="voceLinda">quero te ver linda e deslumbrante</h5>
              <div class="col-12 col-sm-4"> <!-- Alteração aqui -->
                  <img class="imgVestido" src="assets\img\madrinha\ref1.jpeg" alt="">
                  <button type="button" class="btn btn-secondary btnVestido" data-bs-dismiss="modal">ver mais fotos</button>
              </div>
              <div class="col-12 col-sm-4"> <!-- Alteração aqui -->
                  <img class="imgVestido" src="assets\img\madrinha\ref2.jpg" alt="">
                  <!-- <button type="button" class="btn btn-secondary btnVestido" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps</button> -->
              </div>
              <div class="col-12 col-sm-4"> <!-- Alteração aqui -->
                  <img class="imgVestido" src="assets\img\madrinha\ref3.jpg" alt="">
                  <button type="button" class="btn btn-secondary btnVestido" data-bs-dismiss="modal">ver mais fotos</button>
              </div>
          </div>
      </div>
  </div>

