.navbar-light .navbar-nav .nav-link.active-link{
  color: rgb(114, 152, 223);
  font-weight: bold;
}

.navbar{
  background-color: #9acffa;
  background-image: none;
}



.nav-link{
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}
