/* .footer
{
  overflow: hidden;
  background-color:rgb(66, 60, 60);
  padding: 20px 10px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
} */

h1{
  color: rgb(255, 255, 255);
  font-size: 10px;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0px 5px;
  font-size: 18px;;
}

a:hover{
  color: yellow;
}

i{
  padding: 0px 10px;
}

.fixar-rodape
{
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  /* background-color:rgb(66, 60, 60); */
  background-color:rgb(181 148 148);
  padding: 20px 10px;
  bottom: 0;
  left: 0;
}
