<div class="blocoFinal">
  <div class="container">
      <div class="row text-center final">
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref1.png" width="416" height="555" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref2.png" width="416" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref3.png" width="416" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref4.png" width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref5.png" width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref6.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref7.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref8.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref9.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref10.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref11.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
          <div class="col-12 col-sm-4">
              <img class="imgVestido" ngSrc="assets\img\madrinhas\ref12.png"  width="100" height="100" alt="" Loading="lazy">
          </div>
      </div>
  </div>
</div>
