.padrinho{
  background-image: url(../../../assets/img/TEXTURE.png);
  background-color: #eaefff;
  background-size: cover;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text-padrinhos h1{
  font-family: 'Imperial Script', cursive;
  font-size: 80px;
  margin-top: 30px;
}

.florAzulMeio{
  width: 5%;
  margin-bottom: 25px;
}

.comCarinho{
  text-align: right;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #000;
  font-size: 17px;
}

.agradecimento h5{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  margin-top: 25px;
}

.meioCores{
  background-color: #bdc1c33b;
}

.texto{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.reservei{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  margin-top: 15px;
}

.meioCores{
  padding: 40px 40px 1px 40px;
}

.cinza{
  margin: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #717171;
  font-size: 50px;
}

.referenciaTexto{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #7f7f7f;;
  font-size: 20px;
  margin-top: 10px;
}

.blocoFinal{
  padding: 40px;
}

.final h3{
  margin-top: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  margin-bottom: 0;
}

.voceLinda{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #7f7f7f;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 40px;
}

/* celular com tela grande */
@media (max-width: 781px) and (max-width: 1450px) {
  .text-padrinhos h1{
    font-family: 'Imperial Script', cursive;
    font-size: 60px;
    margin-top: 30px;
  }

  .florAzulMeio{
    width: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .agradecimento h5{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    font-size: 16px;
    margin-top: 25px;
  }

  .comCarinho{
    text-align: right;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    color: #7a7979;
    font-size: 14px;
  }

  .reservei{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    margin-top: 15px;
  }

  .cinza{
    margin: 50px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #717171;
    font-size: 40px;
  }

  .referenciaTexto{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #7f7f7f;;
    font-size: 16px;
    margin-top: 10px;
  }

  .blocoFinal{
    padding: 40px;
  }

  .final h3{
    margin-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    margin-bottom: 0;
  }

  .voceLinda{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #7f7f7f;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

@media (max-width: 400px){
  .text-padrinhos h1{
    font-family: 'Imperial Script', cursive;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .florAzulMeio{
    width: 15%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .comCarinho{
    text-align: right;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #000;
    font-size: 12px;
  }

  .agradecimento h5{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    margin-top: 25px;
    font-size: 12px;
  }

  .reservei{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    margin-top: 15px;
    font-size: 20px;
  }

  .referenciaTexto{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #7f7f7f;;
    font-size: 12px;
    margin-top: 10px;
    font-size: 16px;
  }

  .cinza{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #717171;
    font-size: 25px;
  }

  .final h3{
    margin-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    margin-bottom: 0;
    font-size: 20px;
  }

  .voceLinda{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #7f7f7f;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.modal-content {
  max-width: fit-content;
  max-height: -webkit-fill-available;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.gallery img {
  width: 100%;
  height: auto;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}
