<div class="home">
  <div class="banner-direita"></div>
  <div class="banner-esquerda"></div>
  <div class="centered-text up-position">
    <p>CONVIDAMOS VOCÊ</p>
    <br>
    <p>PARA CELEBRAR O NOSSO CASAMENTO</p>
  </div>
  <div class="centered-text middle-position">
    <h1>Andresa & Vinícius</h1>
  </div>

  <div class="centered-text down-position">
    <div class="contagem">
      <div class="item">
        <span id="dias" class="valor"></span>
        <span class="unidade"> dias</span>
      </div>
      <div class="item">
        <span id="horas" class="valor"></span>
        <span class="unidade"> horas</span>
      </div>
      <div class="item">
        <span id="minutos" class="valor"></span>
        <span class="unidade"> minutos</span>
      </div>
      <div class="item">
        <span id="segundos" class="valor"></span>
        <span class="unidade"> segundos</span>
      </div>
    </div>
  </div>
</div>
<div class="local-evento">
  <h1>LOCAL DO EVENTO</h1>
  <div class="container">
    <div class="row cards">

      <div class="igreja col-6 cards-positions">
        <div class="card">
          <img src="..\assets\img\candelaria.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Igreja</h5>
            <p class="card-text">NO DIA 09/11/2024 ÀS 19H</p>
            <p class="card-text"> PARÓQUIA NOSSA SENHORA DA CANDELÁRIA</p>
            <p class="card-text"> R. Castro Alves, 781 - Cerâmica, São Caetano do Sul - SP, 09540-030</p>
            <a href="#" class="btn btn-primary">Abrir google maps</a>
          </div>
        </div>
      </div>

      <div class="festa  col-6 cards-positions">
        <div class="card">
          <img src="..\assets\img\masterday.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Festa</h5>
            <p class="card-text">NO DIA 09/11/2024 ÀS 19H</p>
            <p class="card-text"> PARÓQUIA NOSSA SENHORA DA CANDELÁRIA</p>
            <p class="card-text"> R. Castro Alves, 781 - Cerâmica, São Caetano do Sul - SP, 09540-030</p>
            <a href="#" class="btn btn-primary">Abrir google maps</a>
          </div>
        </div>
      </div>
    </div>
</div>


      <br>
      <br>
      <br>
      <br>


