/* Estilo para o banner */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para a parte direita do banner */
.home .banner-direita {
  width: 23%;
  height: 100vh; /* Ajuste a altura conforme necessário */
  background-image: url(../../../assets/img/BORDER-direito.png);
  float: left; /* Coloca a imagem à direita */
  background-size: 39%;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  background-position: right top;
}

/* Estilo para a parte esquerda do banner */
.home .banner-esquerda {
  width: 23%;
  height: 100vh;
  background-image: url(../../../assets/img/BORDER-esquerdo.png);
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  background-size: cover;
  float: right;
  background-position: right top;
}

/* // show it on devices with max of 767 px and lower */
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .tamBanner{
    width: 55%;
  }

  .mobile-text{
    font-size: 10px;
  }

  .festa{
    margin-top: 20px;
  }
}

.centered-text {
  text-align: center;
  position: absolute; /* Adicionado posicionamento absoluto */
}

.centered-text h1 {
  font-size: 100px;
  color: #6f6f64;
  margin: 0;
}

.centered-text p {
  line-height: 0; /* Altere o valor conforme necessário, 1 seria o valor normal */
}


.up-position{
  color: #777771;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  top: 15%; /* Posiciona no meio verticalmente */
  left: 50%; /* Posiciona no meio horizontalmente */
  transform: translate(-50%, -50%); /* Move a div para o centro */
  z-index: 1; /* Define uma ordem de empilhamento superior (na frente das imagens) */
  font-weight: bold;
}

.up-position p {
  line-height: 0; /* Altere o valor conforme necessário, 1 seria o valor normal */
}

.middle-position{
  top: 50%; /* Posiciona no meio verticalmente */
  left: 50%; /* Posiciona no meio horizontalmente */
  transform: translate(-50%, -50%); /* Move a div para o centro */
  z-index: 1; /* Define uma ordem de empilhamento superior (na frente das imagens) */
  font-family: 'Sacramento', cursive;
}

.down-position{
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  top: 85%; /* Posiciona no meio verticalmente */
  left: 50%; /* Posiciona no meio horizontalmente */
  transform: translate(-50%, -50%); /* Move a div para o centro */
  z-index: 1; /* Define uma ordem de empilhamento superior (na frente das imagens) */
}

.contagem {
  display: flex;
}

.item {
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.valor {
  font-size: 50px;
  font-weight: bold;
  color: #6f6f64;
}

.unidade {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.middle{
  background-color: rgba(248, 245, 242, 0.6);
}

.local-evento{
  /* height: 100vh; */
  text-align: center;
  position: relative; /* Adicionado posicionamento absoluto */
  text-transform: none;
  color: #6f6f64;
  font-family: 'Raleway', sans-serif;
}

.florMeio{
  margin-top: 100px;
  width: 65px;
}

.title-home{
  padding-top: 40px;
  margin-bottom: 36px;
  color: #9a8478;
  font-style: normal;
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  text-transform: none;
}

.local-evento p{
  font-weight: bold;
  font-size: 21px;
  margin-top: 36px;
  line-height: 0; /* Altere o valor conforme necessário, 1 seria o valor normal */
  max-width: 100%; /* Texto não ultrapassará a largura da caixa */
}

.cards p{
  color:#7c7c7c;
  font-size: 16px;
  line-height: 0; /* Altere o valor conforme necessário, 1 seria o valor normal */
  max-width: 100%; /* Texto não ultrapassará a largura da caixa */
  /* font-size: clamp(1.75em, 1em + 3vw, 2.5em); */
}
.textp{
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}
.cards h5{
  font-weight: bold;
  font-size: 26px;
}

.cards a {
  margin: 10px;
  background-color: pink;
  border-color: pink;
  font-weight: bold;
}

.cards img{
  max-width: 100%; /* Define o tamanho máximo como 100% da largura do contêiner */
  height: auto; /* Garante que a altura seja ajustada automaticamente para manter a proporção */
}


.frase-com-linhas {
  text-transform: none;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  display: inline-block;
  padding: 26px;
  margin-bottom: 38px;
}

.row {
  display: flex;
  align-items: center; /* Alinha verticalmente os elementos */
}

.image-container {
  flex: 1; /* Ocupa a mesma quantidade de espaço disponível */
}

.imagerose-left, .imagerose-right {
  max-width: 100px; /* Largura máxima das imagens */
  margin: 0 10px; /* Espaçamento entre a imagem e o título */
}


.informacoes{
  /* height: 100vh; */
  text-align: center;
  position: relative; /* Adicionado posicionamento absoluto */
  color: #6f6f64;
  font-family: 'Raleway', sans-serif;
  /* background-color: rgba(248, 245, 242, 0.5); */
}

.img-informacoes h5{
  margin-top: 40px;
  margin-bottom: 20px;
  color: #4a4a55;
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  font-style: normal;
}

.img-informacoes p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #808080;
  text-transform: none;
  line-height: 30px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;

  max-width: 100%; /* Texto não ultrapassará a largura da caixa */
}

.img-informacoes img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.button{
  color: #ffff;
  background-color: pink;
  margin-bottom: 70px;
  border-color: pink;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

