<div class="home">
  <div class="banner-direita tamBanner"></div>
  <div class="banner-esquerda"></div>
  <div class="banner-esquerda-inferior"></div>
  <div class="container">
    <div class="row">
      <div class="centered-text up-position">
        <p class="mobile-text">CONVIDAMOS VOCÊ</p>
        <br>
        <p class="mobile-text">PARA CELEBRAR O NOSSO CASAMENTO</p>
      </div>
    </div>
  </div>

  <div class="centered-text middle-position">
    <h1>Andresa & Vinícius</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="centered-text down-position col-12">

        <p class="frase-com-linhas">09 Dezembro, 2022 às 18:30</p>

        <!-- <div class="contagem">
          <div class="item">
            <span id="dias" class="valor"></span>
            <span class="unidade"> dias</span>
          </div>
          <div class="item">
            <span id="horas" class="valor"></span>
            <span class="unidade"> horas</span>
          </div>
          <div class="item">
            <span id="minutos" class="valor"></span>
            <span class="unidade"> minutos</span>
          </div>
          <div class="item">
            <span id="segundos" class="valor"></span>
            <span class="unidade"> segundos</span>
          </div>
        </div> -->


        <div class="">
          <div class="container menuHome">
            <div class="row">
              <div class="col-3">
                <a href="#" class="linkMenu" data-bs-toggle="modal" data-bs-target="#igreja">
                  <img class="imgMenuHome imgMenu" src="assets\img\home\igreja.png" alt="">
                  <p class="card-text textHomeP">Igreja</p>
                </a>
              </div>
              <div class="col-3">
                <a href="#" class="linkMenu" data-bs-toggle="modal" data-bs-target="#festa">
                  <img class="imgMenuHome imgMenu" src="assets\img\home\festa.png" alt="">
                  <p class="card-text textHomeP">Festa</p>
                </a>
              </div>
              <div class="col-3">
                <a href="#" class="linkMenu">
                  <img class="imgMenuHome imgMenu" src="assets\img\home\presente.png" alt="">
                  <!-- <p class="card-text textHomeP">Lista de Presentes</p> -->
                  <p class="card-text textHomeP">Presentes</p>
                </a>
              </div>
              <div class="col-3">
                <a href="#" class="linkMenu">
                  <img class="florMeio imgMenu" src="assets\img\home\padrinhos.png" alt="">
                  <p class="card-text textHomeP">Padrinhos</p>
                </a>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>

  <!-- Modal Igreja-->
  <div class="modal fade" id="igreja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="exampleModalLabel">Vamos à Igreja!!!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="">
          <img src="assets\img\candelaria.png" class="card-img-top imgModal" alt="...">
          <p class="card-text place text-center">Paróquia Nossa Senhora Da Candelária</p>
          <p class="card-text address text-center">R. Castro Alves, 781 - Cerâmica,São Caetano do Sul </p>
        </div>
        <div class="modal-footer modalF">
          <a href="https://www.google.com/maps?q=R.+Castro+Alves,+781,+Cerâmica,+São+Caetano+do+Sul,+SP,+09540-030" target="_blank">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps
            </button>
          </a>
          <a href="https://ul.waze.com/ul?place=ChIJi8k9O8RczpQRjZvL79qp43w&ll=-23.62698590%2C-46.56857680&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location" target="_blank">
            <button type="button" class="btn btn-secondary btn-waze" data-bs-dismiss="modal"><i class="fa-brands fa-waze"></i> Abrir no Waze</button>
          </a>
          <button type="button" class="btn btn-primary"><i class="fa fa-files-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Festa -->
  <div class="modal fade" id="festa" tabindex="-1" aria-labelledby="festaModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="festaModal">Vamos à Festa!!!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="">
          <img src="assets\img\masterday.jpeg" class="card-img-top imgModal" alt="...">
          <p class="card-text place text-center">Buffet Master Day</p>
          <p class="card-text address text-center">R. Ceará, 363 - Fundação, São Caetano do Sul - SP, 09520-410</p>
        </div>
        <div class="modal-footer modalF">
          <a href="https://www.google.com/maps/dir/-23.5782452,-46.5836981/master+day+buffet/@-23.5733455,-46.6246809,13z" target="_blank">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps
            </button>
          </a>
          <a href="https://www.waze.com/ul?ll=-23.613456%2C-46.572889&navigate=yes" target="_blank">
            <button type="button" class="btn btn-secondary btn-waze" data-bs-dismiss="modal"><i class="fa-brands fa-waze"></i> Abrir no Waze</button>
          </a>
          <button type="button" class="btn btn-primary"><i class="fa fa-files-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>

