<app-navbar></app-navbar>

<div class="lista-casamento">
  <div class="blocoInicial">
      <div class="title">
        <div class="container">
            <div class="row">
                <div class="text-center text-lista-casamento">
                  <h1 class="mobile-text">Lista de Presentes</h1>
                  <img class="florAzulMeio" src="assets\img\florMeioAzul.png" alt="">
                </div>
            </div>
        </div>
      </div>
  </div>

  <div class="container ">
    <div class="frases text-center">
      <h5 class="reservei">criamos algumas listas de casamento para que nossos convidados tenham muitas opções.</h5>
      <p class="referenciaTexto">sinta-se a vontade para usar as listas a baixo para comprar o presente de casamento.</p>
    </div>
    <div class="row ">
      <div class="rounded-box col">
        <div class="icon-column">
          <a href="#" class="linkMenu">
            <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\amazon.png" alt="">
          </a>
        </div>
        <div class="text-column">
          <a href="https://www.amazon.com.br/hz/wishlist/ls/DA8BW305Y2J5?ref_=wl_share" target="_blank">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Lista Amazon
            </button>
          </a>
        </div>
      </div>
      <div class="rounded-box col">
        <div class="icon-column">
          <a href="#" class="linkMenu">
            <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\camicado.png" alt="">
          </a>
        </div>
        <div class="text-column">
          <a href="https://lista.camicado.com.br/be_e_de" target="_blank">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Lista Camicado
            </button>
          </a>
        </div>
      </div>
      <div class="rounded-box col">
        <div class="icon-column">
          <a href="" class="linkMenu">
            <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\magalu.png" alt="">
          </a>
        </div>
        <div class="text-column">
          <a href="https://www.querodecasamento.com.br/lista-de-casamento/andresa-vinicius" target="_blank">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Lista Magalu
            </button>
          </a>
        </div>
      </div>
      <div class="rounded-box col">
        <div class="icon-column">
          <a href="HTTPS://LISTAS.CASASBAHIA.COM.BR/ANDRESAEVINICIUS" class="linkMenu">
            <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\casasBahias.png" alt="">
          </a>
        </div>
        <div class="text-column">
          <a href="" target="_blank">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Lista Casas Bahia
            </button>
          </a>
        </div>
      </div>
      <div class="rounded-box col">
        <div class="icon-column">
          <a href="https://www.precolandia.com.br/gift-list-details/casamento-andresa-e-vinicius-09-11-2024" class="linkMenu">
            <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\precolandia.png" alt="">
          </a>
        </div>
        <div class="text-column">
          <a href="" target="_blank">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Lista Precolandia
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

