<app-navbar></app-navbar>

<div class="madrinha">
    <div class="blocoInicial">

        <div class="title">
          <div class="container">
              <div class="row">
                  <div class="text-center text-madrinhas">
                    <h1 class="mobile-text">Lista de Presentes</h1>
                    <img class="florAzulMeio" src="assets\img\florMeioAzul.png" alt="">
                  </div>

                  <div class="agradecimento">
                    <h5>montamos essa lista com muito carinho. Ela está com valores variados para que possamos ser justos com aqueles que querem nos presentear.</h5>
                    <p class="comCarinho">com carinho, Andresa e Vinícius </p>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container ">
      <div class="row ">
        <div class="rounded-box">
          <div class="icon-column">
            <a href="#" class="linkMenu">
              <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\amazon.png" alt="">
            </a>
          </div>
          <div class="text-column">
            <!-- <p>Dica: Para quem tem o serviço "prime"</p> -->
            <a href="https://www.amazon.com.br/hz/wishlist/ls/DA8BW305Y2J5?ref_=wl_share" target="_blank">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar lista de presentes
              </button>
            </a>
            <a href="" target="_blank">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar o site da Amazon
              </button>
            </a>
          </div>
        </div>

        <div class="rounded-box">
          <div class="icon-column">
            <a href="#" class="linkMenu">
              <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\camicado.png" alt="">
            </a>
          </div>
          <div class="text-column">
            <a href="https://lista.camicado.com.br/be_e_de" target="_blank">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar lista de presentes
              </button>
            </a>
            <a href="" target="_blank">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar o site da Amazon
              </button>
            </a>
          </div>
        </div>

        <div class="rounded-box">
          <div class="icon-column">
            <a href="HTTPS://LISTAS.CASASBAHIA.COM.BR/ANDRESAEVINICIUS" class="linkMenu">
              <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\casasBahias.png" alt="">
            </a>
          </div>
          <div class="text-column">
            <a href="" target="_blank">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar lista de presentes
              </button>
            </a>
            <a href="" target="_blank">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar o site da Amazon
              </button>
            </a>
          </div>
        </div>

        <div class="rounded-box">
          <div class="icon-column">
            <a href="" class="linkMenu">
              <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\magalu.png" alt="">
            </a>
          </div>
          <div class="text-column">
            <a href="https://www.querodecasamento.com.br/lista-de-casamento/andresa-vinicius" target="_blank">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar lista de presentes
              </button>
            </a>
            <a href="" target="_blank">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar o site da Amazon
              </button>
            </a>
          </div>
        </div>

        <div class="rounded-box">
          <div class="icon-column">
            <a href="https://www.precolandia.com.br/gift-list-details/casamento-andresa-e-vinicius-09-11-2024" class="linkMenu">
              <img class="ltsPresente imgPresente" src="assets\img\home\listaPresente\precolandia.png" alt="">
            </a>
          </div>
          <div class="text-column">
            <a href="" target="_blank">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar lista de presentes
              </button>
            </a>
            <a href="" target="_blank">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-brands fa-uber"></i> Acessar o site da Amazon
              </button>
            </a>
          </div>
        </div>
    </div>
</div>

